.body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #e2cfb7;
}

.resume {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgb(255, 181, 181);
    box-shadow: 0 0 20px rgba(31, 29, 29, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.header {
    background-color: #f1a297;
    color: rgb(216, 41, 41);
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
}
.section {
    padding: 30px;
    border-bottom: 1px solid #eee;
}

.section h3 {
    font-size: 24px;
    color: #17283a;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
}
.section h3::before {
    content: '';
    width: 100px;
    height: 3px;
    position: absolute;
    bottom: 5px;
    left: 0px;
    background-color: #f33c3c;
}

@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.ttf?t=1743987607472') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ff0000;
    font-weight: bolder;
    margin-right: 10px;
}
.info-item{
    display: flex;
    align-items: center;
}